body {
      margin: 0;
      padding: 0;
}
.header {
      background-color: black;
      color: white;
      text-align: center;
      padding: 0.5em;
} 

.container {
      display: flex;
      flex-direction: column;
      align-items: auto;
      text-align: auto;
      margin-top: 50px;
      margin-left: 20%;
}
    
.img-text { 
      display: flex; 
      align-items: flex-start; 
      justify-content: flex-start;
      margin-bottom: 20px; 
}
    
img {
      width: 200px;
      height: auto;
      margin-right: 20px;
}
    
.text {
      text-align: left; /* Выравнивание текста влево */
      width: 300px;
      border-style: solid;
}

.Photo {
      border-style: solid;
}
    
.contacts {
      width: 530px;
      margin-top: 10px; 
      text-align: left;
      align-items: auto; /* Выравнивание по вертикали */
      justify-content: auto; /* Выравнивание по горизонтали */
      border-style: solid;
      margin-bottom: 30px;

}

.icon_tg {
      width: 32px;
      height: 32px;
      vertical-align: center;
      text-align: center;
}

.text_tg{
      vertical-align: 10px;
}