.header {
      background-color: black;
      color: white;
      text-align: center;
      padding: 20px;
}
    
.container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 20px;
}
    
.photo {
      max-width: 50%;
}
    
.info {
      max-width: 50%;
}
    
.info ul {
      list-style-type: none;
      padding: 0;
}
    
.info ul li {
      margin-bottom: 10px;
}