body {
      margin: 0;
      padding: 0;
}
.header {
      background-color: black;
      color: white;
      text-align: center;
      padding: 0.5em;
} 

.container {
      display: flex;
      flex-direction: column;
      align-items: auto;
      text-align: auto;
      margin-top: 50px;
      margin-left: 20%;
}
    
.img-text { 
      display: flex; 
      align-items: flex-start; 
      justify-content: flex-start;
      margin-bottom: 20px; 
}
    
img {
      width: 200px;
      height: auto;
      margin-right: 20px;
}
    
.text {
      text-align: left; /* Выравнивание текста влево */
      width: 300px;
      border-style: solid;
}

.Photo {
      border-style: solid;
}
    
.contacts {
      width: 530px;
      margin-top: 10px; 
      text-align: left;
      align-items: auto; /* Выравнивание по вертикали */
      justify-content: auto; /* Выравнивание по горизонтали */
      border-style: solid;
      margin-bottom: 30px;

}

.icon_tg {
      width: 32px;
      height: 32px;
      vertical-align: center;
      text-align: center; 
}

.text_tg{
      vertical-align: 10px;
}

.circle-container {
      position: relative;
      margin-left: 20%;
      margin-top: 5%;
      max-width: 600px;
      max-height: 600px;
}

.circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: lightblue;
      text-align: center;
      font-size: 50px;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 5px 20px 15px rgba(126, 7, 182, 0.3);
}

.line-horizontal {
      position: absolute;
      top: 45px;
      left: 100px;
      width: 450px;
      height: 10px;
      background-color: lightblue;
      border-style: solid;
      filter: blur(2.5%);
      box-shadow: 0px 5px 20px 15px rgba(126, 7, 182, 0.3);
}

.line-vertical {
      position: absolute;
      top: 103px;
      left: 45px;
      width: 10px;
      height: 250px;
      background-color: lightblue;
      border-style: solid;
      box-shadow: 0px 5px 20px 15px rgba(126, 7, 182, 0.3);
}

.rectangle {
      top:80px;
      margin-left: 125px;
      position: absolute;
      width: 400px;
      height: 250px;
      background-color: rgba(128, 128, 128, 0.35);
      display: flex;
      border-style: dashed;
      border-radius: 15px;
      box-shadow: 0px 5px 20px 15px rgba(173, 129, 129, 0.5)
}

.rectangle span {
      color: rgb(0, 0, 0);
      margin-left: 2%;
      font-size: 115%;
      word-wrap: break-word;
}

.line-name {
      margin-top: -75px;
      left: 50%; 
      transform: translate(-50%, -50%);
      display: flex; 
      position: absolute; 
      justify-content: center;
      align-items: center; 
      font-size: 25px; 
}

.container2014 {
      position: relative;
      top: 250px;
      margin: 0 auto;
      max-width: 600px;
      margin-left: 20%;
}

.container2018 {
      position: relative;
      top: 500px;
      margin: 0 auto;
      max-width: 600px;
      margin-left: 20%;
}

.container2020 {
      position: relative;
      top: 750px;
      margin: 0 auto;
      max-width: 600px;
      margin-left: 20%;
}

.container2021 {
      position: relative;
      top: 1000px;
      margin: 0 auto;
      max-width: 600px;
      margin-left: 20%;
}

.container2023 {
      position: relative;
      top: 1250px;
      margin: 0 auto;
      max-width: 600px;
      margin-left: 20%;
}

.times {
      font-size: 30px;
      margin-top: 250px;
}
/* 173, 216, 230, 0.6 */
